.projects-scroll-container {
  width: 100%;
  overflow-x: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.projects-section {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}

.projects-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: calc(50% - 250px);
  padding-right: calc(50% - 550px);
} 

.projects-scroll-container::-webkit-scrollbar {
  display: none;
}

.project {
  flex: 0 0 auto;
  width: 300px;
  height: 200px;
  margin-right: 300px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: transform;
  transform-origin: center center;
}

.project.phone {
  width: 300px;
  height: 200px;
}

.project.phone.expanded {
  width: 244px;
  height: 530px;
}

.project.expanded {
  width: 500px;
  height: 330px;
  z-index: 1;
  box-shadow: 0 4px 6px rgb(190, 190, 190);
}

.project-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.project-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.expanded-project-info {

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 600px;
  color: black;
  transition: transform 0.3s ease;
  text-align: left;
}

.expanded-project-info h3 {
  margin-bottom: 10px;
}

.expanded-project-info p {
  margin: 0;
}

.project-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.link-icon {
  margin-top: 15px;
  margin-right: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.link-icon:hover {
  transform: scale(1.1);
}

.project-links {
  display: flex;
  gap: 10px;
}

@media (max-width: 1900px) {
  .link-icon {
    margin-top: 5px;
    margin-right: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .projects-container {
    padding-left: calc(50% - 200px);
    padding-right: calc(50% - 430px);
    padding-top: 90px;
    padding-bottom: 80px;
  } 

  .project {
    width: 240px;
    height: 160px;
    margin-right: 250px;
  }

  .project.phone {
    width: 240px;
    height: 160px;
  }
  .project.phone.expanded {
    width: 125px;
    height: 280px;
  }

  .project.expanded {
    width: 400px;
    height: 250px;
    z-index: 1;
  }

  .expanded-project-info {
    width: 450px;
  }

  .expanded-project-info h3{
    font-size: 0.75em;
  }
  .expanded-project-info p{
    font-size: 0.75em;
  }
}
  
@media (max-width: 768px) {  
  .projects-container {
    padding-left: calc(50% - 120px);
    padding-right: calc(50% - 250px);
  } 

  .project {
    width: 150px;
    height: 100px;
    margin-right: 130px;
  }

  .project.phone {
    width: 150px;
    height: 100px;
  }
  .project.phone.expanded {
    width: 110px;
    height: 250px;
  }

  .link-icon {
    margin-top: 5px;
    margin-right: 12px;
    width: 12px;
    height: 12px;
    cursor: pointer;
  }

  .project.expanded {
    width: 250px;
    height: 160px;
    z-index: 1;
  }

  .expanded-project-info {
    width: 350px;
  }

  .expanded-project-info h3{
    font-size: 0.5em;
  }
  .expanded-project-info p{
    font-size: 0.55em;
  }
}  