.resume-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.resume-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 150px 20px 40px; 
    font-family: Arial, sans-serif;
    color: #000000;
    background-color: #ffffff;
    flex-grow: 1;
}

.resume-title {
    color: #000000;
    margin-bottom: 20px;
}

.resume-experience-item {
    display: flex;
    margin-bottom: 30px;
}

.resume-date {
    flex: 0 0 150px;
    font-weight: bold;
    color: #888;
}

.resume-details {
    flex: 1;
}

.resume-job-title {
    font-size: 1.2em;
    margin: 0 0 5px 30px;
    color: #000000;
}

.resume-job-location {
    font-size: 1em;
    margin: 0 0 10px 30px;
    color: #000000;
}

.resume-job-description {
    list-style-type: none;
    padding: 0;
}

.resume-job-description li {
    margin-left: 55px;
    margin-bottom: 10px;
    line-height: 1.4;
    color: #000000;
    max-width: 500px;
}

.resume-job-description li::before {
    content: "•";
    color: #000000;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.resume-job-location {
    color: #888;
}

