body {
  font-family: Arial, Helvetica, sans-serif;
  background: #fafafa;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.hello-world-container {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}

.black-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}

.hello-world-container {
  padding-top: 5vh; 
  text-align: center;
  width: 100%;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 150% 50%;
  }
}

.animated-name {
  background-image: linear-gradient(
    45deg,
    #5bc5e1,
    #57c2db,
    #e58b8c,
    #f06565,
    #e4a826,
    #8ff764,
    #75eba2,
    #4bc7c1,
    #54c6de
  );
  background-size: 300% 300%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: gradientMove 8s infinite;
}

.hello-world-container h1 {
  font-size: 4em;
  margin-top:0rem;
  margin-bottom:0rem;
}

.hello-world-container h3 {
  margin-bottom:0rem;
  color: black;
  font-size: large;
}

.social-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  transition: all 0.3s ease;
  margin-top:.5rem;
}

.social-button {
  color: black;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.9em;
  text-decoration: none;
  display: flex;
  align-items: center;
  position: relative;
  overflow: visible;
  padding-left:25px;
  padding-right:25px;
  width: 30px; 
}

.social-button svg {
  width: 25px;
  height: 25px;
  position: relative;
  z-index: 1;
}

.social-text {
  position: absolute;
  left: 30px; 
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 2;
}

.social-button.mail-icon svg {
  
  width: 30px;
  height: 30px;
  scale: 1.05;
}

.social-button.personal svg {
  margin-bottom: 4px;
  scale: 1.05;
}

.social-button:hover {
  color: #c5c5c5;
}

.social-button:hover svg {
  color: #c5c5c5;
  fill: #c5c5c5;
}

@media (max-width: 1900px) {
  .hello-world-container {
    padding-top: 3vh; 
  }

  .hello-world-container h1{
    font-size: 2.5em;
  }

  .hello-world-container h3{
    font-size: medium;
  }

  .social-button.mail-icon svg {
    width: 25px;
    height: 25px;
  }

  .social-button svg {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 768px) {
  .social-button.mail-icon svg {
    width: 20px;
    height: 20px;
  }

  .social-button svg {
    width: 15px;
    height: 15px;
  }

  .social-button {
    padding-left: 14px;
    padding-right: 14px;
  }

  .hello-world-container h1{
    font-size: 2em;
  }

  .hello-world-container h3{
    font-size: small;
  }
}
