body {
  font-family: Arial, Helvetica, sans-serif;
  background: black;
  overflow-x: hidden;
}

.intro-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.boid-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.backdrop-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  backdrop-filter: blur(8px);
  pointer-events: none; 
}

.info-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me {
  padding: 0rem 5rem;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

.projects {
  padding: 0rem 5rem;
  z-index: 50;
  width: 100%;
  max-width: 1200px;
  margin-top: 4rem;
  box-sizing: border-box;
}

.contact {
  padding: 0rem 5rem;
  margin-top: 25rem;
  margin-bottom: 25rem;
  width: 100%;
  max-width: 650px;
  text-align: center;
  box-sizing: border-box;
}

.emphasis {
  color: white;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  color: #b5b4b4;
  font-size: 1.5rem;
  font-weight: 100;
}

.contact-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin-top:3rem;
  gap: 2.5rem;
}

.contact-button {
  color: white;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 0.9em;
  text-decoration: none;
  display: flex;
  align-items: center;
  position: relative;
  overflow: visible;
  padding: 0.5rem 1rem;
}

.contact-button svg {
  width: 25px;
  height: 25px;
  position: relative;
  z-index: 1;
}

.contact-button.mail-icon svg {
  width: 30px;
  height: 30px;
  scale: 1.05;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 150% 50%;
  }
}

.animated-name {
  background-image: linear-gradient(
    45deg,
    #5bc5e1,
    #57c2db,
    #e58b8c,
    #f06565,
    #e4a826,
    #8ff764,
    #75eba2,
    #4bc7c1,
    #54c6de
  );
  background-size: 300% 300%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: gradientMove 6s infinite;
}

@media (max-width: 768px) {
  h2 {
      font-size: 2rem;
  }

  h3 {
      font-size: 1rem;
  }

  .contact {
    padding: 0rem 3rem;
  }

  .about-me {
    padding: 0rem 3rem;
  }
  
  .projects {
    padding: 0rem 3rem;
  }
}



